.ropeproject
lims/settings.py
*.log
*.pyc
.project
.pydevproject
.settings/*
*/target/*
*/.settings/*
*/.*
*/*bak
*/*/*bak
*/*/*/*bak
*/*/*/*/*bak
temp
logs
reports/static/js/libs
reports/static/bower/bower_components
**/node_modules/**
**/bower_components/**
**/css/fonts/**
