{% extends "base.html" %}
{% block head %}
	<title>Screensaver 2</title>
{% endblock %}

{% block navbar %}
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" 
	          data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Screensaver 2</a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling
	     TODO: create a backbone class to handle clicks here, so that 
	     appModel can process the uriStackChange before the router does.
	    -->
	   <div class="collapse navbar-collapse">
	     <ul id='navbar' class="nav navbar-nav hover">
	       <li id='home' class="active"><a href="#">Home</a></li>
	       <li id='about' ><a href="#about">About</a></li>
	       <li id=''><a href="#contact">Contact</a></li>
	     </ul>
	     <div class="navbar-right" id=loginmsg>
	       {% if user.is_authenticated %}
	         logged in as: {{ user }} <a href="{% url 'logout' %}">Log out</a>
	       {% else %}
	         <a href="{{ login_url }}">Log in</a>
	       {% endif %}
	     </div>
	  </div><!--/.nav-collapse -->
	  </div>
	</div><!-- navbar lims-->
{% endblock %} 
{% block footer %}  
  <div id="footer">
    <div class="container">
      <a href="#">Screensaver</a> | <a href="#">ICCB-Longwood/NSRB</a> | <a href="#">Release Notes</a> | <a href="#">Feedback</a> | <a href="#">Help</a> | <a href="{% url 'admin:index' %}">Admin</a>
    </div>
  </div>
{% endblock %}
