{% extends "base.html" %}
{% load iccbl_tags %}
{% load admin_urls %}
{% block head %}
<!-- jQuery ScrollTo Plugin -->
<script src="//balupton.github.io/jquery-scrollto/scripts/jquery.scrollto.min.js"></script>

<!-- History.js -->
<script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basic_tabs.css" />

<style type="text/css">
      #wrap > .container-fluid {
        padding-top: 50px;
        padding-bottom: 60px;
      }
     .container-fluid .credit {
        margin: 20px 0;
      }
      .no-space [class*="span"] {
          margin-left: 5px;
      }
    </style>
	<title>Screensaver 2</title>
{% endblock %}

{% block application%}
    <div class="container-fluid">
      <div class="row-fluid no-space">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class='{% activeTag request "^/db/$" %}'><a href="{% url 'home' %}" >Home</a></li>
              <li class="nav-header">Libraries</li>
              <li class='{% activeTag request "^/db/sm/$" %}' ><a href="#">SM</a></li>
              <li class='{% activeTag request "^/db/rnai/$" %}' ><a href="#">RNAi</a></li>
              <li class="nav-header">Users</li>
              <li class='{% activeTag request "^/db/screeners/$" %}' ><a href="{% url 'screeners' %}">Screeners</a></li>
              <li class='{% activeTag request "^/db/screeners1/$" %}' ><a href="{% url 'screeners1' %}">Screeners1</a></li>
              <li class='{% activeTag request "^/db/staff/$" %}' ><a href="staff">Staff</a></li>
              <li class="nav-header">Screens</li>
              <li class='{% activeTag request "^/db/screens_sm/$" %}' ><a href="#">SM</a></li>
              <li class='{% activeTag request "^/db/screens_rnai/$" %}' ><a href="#">RNAi</a></li>
              <li class='{% activeTag request "^/db/my_screens/$" %}' ><a href="#">My Screens</a></li>
              <li class='{% activeTag request "^/db/studies/$" %}' ><a href="#">Studies</a></li>
              <li class='{% activeTag request "^/db/cpr/$" %}' ><a href="#">CP Requests</a></li>
              <li class='{% activeTag request "^/db/activities/$" %}' ><a href="#">Activities</a></li>
              <li class="nav-header">Find Wells By...</li>
              <li class='{% activeTag request "^/db/search_compound/$" %}' ><a href="#">Compound</a></li>
              <li class='{% activeTag request "^/db/search_plate_well/$" %}' ><a href="#">Plate/Well</a></li>
              <li class='{% activeTag request "^/db/search_screen/$" %}' ><a href="#">Screen ID</a></li>
              <li class='{% activeTag request "^/db/search_cpr/$" %}' ><a href="#">CPR #</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span10">
		   	{% block content %}
	          <div class="hero-unit">
	            <h1>Main Section</h1>
	            <p>Intructions for usage.</p>
	          </div>
        	{% endblock %}
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->
{% endblock %}
