{% extends "db/base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/backgrid.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/backgrid-paginator.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/backgrid-filter.css" />

<script type='text/javascript' src='{{ STATIC_URL }}js/underscore.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/backbone.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/backbone-pageable.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/backbone-tastypie.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/backgrid.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/backgrid-paginator.js'></script>

<!--TODO: lunr is a dependency of backgrid-filter.js but shouldn't be - its for client side filtering -->
<script type='text/javascript' src='{{ STATIC_URL }}js/lunr.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/backgrid-filter.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/spin.min.js'></script>

<script type='text/javascript' src='{{ STATIC_URL }}/js/iccbl-lims.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}/js/iccbl-app-backgrid.js'></script>

<!--
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
-->
<style type="text/css">
	@media screen{
		.table th, .table td {
			padding: 1px;
		}
	/*hack to make the header fit the filter search box and side icons (side icons are the problem)*/
        .backgrid th {
            padding-right: 35px;
        }
        .form-horizontal .control-group {
            margin-bottom: 0px;
        }
        form {
            margin: 0 0 0px;
        }
        .loading1 {
            background:rgba(0,0,0,0.3);
        }
        #loading{
            position:fixed;
            z-index:999;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            background: url('/static/images/ajax-loading2.gif')
                50% 20%
                no-repeat;
        }
    }
</style>
<script type="text/template" id="rows-per-page-template">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="rowsperpage_selector">Rows per page:</label>
            <div class="controls">
                <select  class="input-mini" id="rowsperpage_selector">
                    <% options.each(function(option) { %>
                        <option value="<%= option %>"><%= option %></option>
                    <% }); %>
                </select>
            </div>
        </div>
    </form>
</script>
<script type="text/javascript">


$(document).ready(function(){
    var _url_schema = "{{api_url_schema}}";
    var _url = "{{api_url}}";

    window.App = {
        Models: {},
        Collections: {},
        Views: {},
        _collection: new MyCollection({ 'url': _url }),
        Router: new MyRouter(),
    };

    window.App.ajaxStart = function(){
        console.log("start spinner...");
        $('#loading').fadeIn({duration:100});
    };
    window.App.ajaxComplete = function(){
        console.log("stop spinner...");
        $('#loading').fadeOut({duration:100});
    };


    // Call the schema from the server to get the field definitions
	$.ajax({
		type: "GET",
       	url: _url_schema,
       	data: "",
       	dataType: "json",
       	success: function(result) {
       	    window.App.buildGrid(result.fields);

	   	}, // end success outer ajax call
		error: function(x, e) {
			alert(x.readyState + " "+ x.status +" "+ e.msg);
		}
	});

    window.App.buildGrid = function(fieldDefinitions) {
        console.log('buildGrid...');

        var columns = iccbl.createBackgridColModel(fieldDefinitions, MyHeaderCell);
        var grid = new Backgrid.Grid({
          columns: columns,
          collection: App._collection
        });

        $("#example-table").append(grid.render().$el);

        var selector = new ItemsPerPageSelector(
            { 'selections': ['25','50','200','1000'], 'template': $("#rows-per-page-template").html() },
            App._collection);

        var paginator = new Backgrid.Extension.Paginator({
          collection: App._collection
        });

        $("#paginator-div").append(paginator.render().$el);
        $("#rows-selector-div").append(selector.render().$el);

        var allEvent = function(event){
            console.log("event fired: " + event);
        };
        App._collection.on({
          "all": allEvent,  // TODO: this is debug code
        });

        // TODO: tie these events into the collection override?
        //        App._collection.bind('request', window.App.ajaxStart, this);
        App._collection.on('request', App.ajaxStart); // NOTE: can use bind or on
        App._collection.bind('sync', window.App.ajaxComplete, this);
        App._collection.bind('sync', selector.updateSelection, selector);  // TODO: selector.listenTo(App._collection, 'sync'...

        console.log('start history...');
        Backbone.history || (Backbone.history = new Backbone.History());
        Backbone.history.start({
          pushState: false,
//          root: '/db/screeners2/'
        });
        console.log('initialized');
    }
});

</script>

<div class="container-fluid" style="margin-left: 0px; background-color: #c5d2db;">
    <div class="row-fluid no-space">
        <div class="span8" id="paginator-div"></div>
        <div class="span2" id="rows-selector-div"></div>
    </div>
    <div class="row-fluid no-space">
    	<div id="example-table" class='table-striped' ></div>
    </div><!-- table row -->
</div>
    <div id="loading"></div><!-- loading indicator -->
{% endblock %}
