body {
/* 	background-color: #e3e3e3; */
/*   background-color: #c5d2db; */
}

#menu {
  background-color: rgba(197, 210, 219, 0.3);
}
@media (min-width: 568px) {
  .container {
    width: inherit;
  }
}
@media (min-width: 992px) {
  .container {
    width: inherit;
  }
}
@media (min-width: 1200px) {
  .container {
    width: ;
  }
}  


/** 
  Sticky footer styles:
  - note: reapply this style in the webpack-injected css here.
**/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/** end Sticky footer styles **/


#title {
	word-wrap: break-word;
}

.label-cell {
  color: black;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/** bootstrap overrides **/

@media screen{
  .well {
    padding: 5px;
  }
  .nav-header {
    padding: 3px 0px;
  }
	.nav-sidebar {
	  padding: 0px;
	  padding-left: 5px;
	}
}

media="screen"
.input-group-addon, .input-group-btn, .input-group .form-control {
display: inherit;
}

div#application_div > .one-space {
    padding-right: 0px;
    padding-left: 2px;
    padding-top: 4px;
}

.no-space [class*="col"] {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0px;
    padding-left: 0px;
}

.one-space {
    padding-right: 0px;
    padding-left: 2px;
    padding-top: 4px;
}

/** menu list styling from bootstrap 2.3.2 **/
.well  {
 margin-bottom: 5px;
}
.panel {
 margin-bottom: 5px;
}

.menu {
  list-style: none;
}
.menu > li > a {
  display: block;
}
.menu > li > a {
padding: 3px 15px;
}

.menu > .active > a,
.menu > .active > a:hover,
.menu > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

.menu > li > a:hover,
.menu > li > a:focus {
  text-decoration: none;
  background-color: #dddddd;
}

.hover  li > a:hover,
.hover  li > a:focus {
  text-decoration: none;
  background-color: #eeeeee !important;
}

.nav-tabs > li.active > a {
  text-decoration: none;
  background-color: rgba(197, 210, 219, 0.3);
}

/** backgrid.css overrides **/

.backgrid {
  border: 1px solid #DDD;
}
.backgrid thead th,
.backgrid td {
  border: 1px solid #DDD;
/*   vertical-align: top; */
}
div.backgrid-paginator {
  display: inline;
/*  text-align: left; */
}

.backgrid-paginator ul{
  display: inline;
}

.backgrid td.edited,
.backgrid tbody tr:nth-child(odd) td.edited {
  background-color: rgba(0, 255, 0, 0.15);
  outline: 1px solid green;
}

.backgrid td.selected {
  background-color: rgba(0, 255, 37, 0.33);
}

.backgrid th.selected {
  background-color: rgba(0, 255, 37, 0.33);
}

.backgrid tbody tr.selected {
  background-color: rgba(0, 255, 37, 0.33);
}

/** wellselector **/

.wellselector thead th,
.wellselector td {
  border-collapse: separate;
  border-spacing: 1px;
  border: 1px solid silver;
  text-align: center;
}

.wellselector td {
  padding: 1px 1px 1px 1px;
  background-color: #f0f0f0;
}

td.wellselector {
  width: auto;
  background-color: aqua;
}

td.wellselector.select-row-cell {
  width: auto;
  background-color: inherit;
  padding: 5px;
  font-weight: bold;
}

td.wellselector.selected {
  background-color: rgba(255, 0, 0, 1);
}

td.wellselector.select-row-cell.selected {
  background-color: rgba(255, 0, 0, .3);
}

th.wellselector.selected {
  background-color: rgba(255, 0, 0, .3);
}

/** Styles for the SCP, LCP table selector **/
tr.selector_row_group {
  border-top: 2px solid black;
}

/** Styles for using a table for detail view (may use data-list style instead, below)*/

td.dl-title {
  text-align: left;
  background: #dddddd;
  font-weight:bold;
  border-style: solid;
  border-color: #f5f5f5;  
}
.table > tbody > tr > td.dl-title {
  border-top: 1px solid transparent;
}

td.dl-data {
 border-top: 1px solid transparent !important;
}

/** Styles for using a data-list for detail view (may use table stye instead, above)*/

.dl-horizontal dt {
  white-space: normal;
  overflow-x: inherit;
}
.dl-horizontal  dd {
  white-space: normal;
  overflow-x: inherit;
}

/*DL, DT, DD TAGS LIST DATA*/
 
dl dt {
    background:#dddddd;
/*     color:#fff; */    
    float:left; 
    font-weight:bold; 
    margin-right:10px; 
/*     padding:5px;   */
    width:100px; 
    vertical-align: bottom;
}
 
dl dd {
    margin:2px 0; 
    vertical-align: bottom;
/*     padding:5px 0; */
}

.form-group.required .control-label:after {
  content:" *";
  color:red;
}

.form-horizontal .control-label{
  padding-top: 7px; 
}
.form-horizontal *{
	min-height: 0px; 
	margin-bottom: 0px;
	list-style: none;
}
li.form-horizontal {
  display: inline;
  padding-left: 0px;
  padding-right: 5px;
}
ul.form-horizontal {
  display: inline;
  padding-left: 5px;
}

ul.chosen-choices {
  display: block;
  padding-left: 5px;
}

.form-control-disabled {
  padding-top: 5px;
  min-height: 1eM;
}

.iccbl-headerfield-form * {
	padding: 0 0 0 0;
}

.iccbl-headerfield-form .form-group{
  margin-bottom: 5px;
}

.iccbl-headerfield-form input[type=number]{
/*   padding: 0 0 0 0 !important; */
  width: 6em !important;
/*   border: 0px; */
}

.iccbl-headerfield-number select{
/*   padding: 0 0 0 0 !important; */
  width: 3em !important;
}

.input-full {
 min-width: 100%;
}
/** 
todo: these selectors should be redone 
**/

.iccbl-headerfield-text *{
/*   padding: 0 0 0 0 !important; */
  width: 9em !important;
}

.iccbl-headerfield-form-last-row *{
	padding: 0 0 0 0;
}

.iccbl-nested-form * {
  padding: 0 0 0 0;
}

.iccbl-nested-form input{
  padding-left: 12px !important;
  border-top: 0px;
}

.iccbl-nested-form-unit select{
/*   padding: 0 0 0 0 !important; */
  width: 4eM !important;
  border-left: 0px;
}

.form-horizontal .form-control{
  padding-right: 0px; 
}

.form-control-zero-padding {
 padding: 0px;
 border-left: 0px;
 border-right: 0px;
 border-top: 0px;
}

td.text-wrap-cell {
  text-overflow: inherit;
  white-space: inherit;
  vertical-align: top;
}

.ms-container ul{
  display: block;
}

.ms-container li{
  display: block;
}

.multiselect2 .ms-container {
  width: auto;
}

/* Turn off chosen height for multi-select so that the bootstrap height 
   can be applied */
@media screen {
 .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 32px; 
  }
}

.150_width {
 width: 150px;
}

